.header{
 background-color: #d4d4f7;
 height:170px;
}
#headerText{
    padding: 20px;
    font-size: 25px;
}
.middle{
    margin: 20px;
}
.footer{
    background-color: #E6E6FA;
    height: 70px;
}
#footerText{
    padding: 20px;
    font-size: 10px;
}
.background{
    background-color: #E6E6FA;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
#box{
    padding: 17px;
    border: 1px solid #d4d4f7;
    width: 500px;
}
#headerPic{
    position: relative;
    left: 80px;
    height: 180px;
    width: 350px;
}
#deleteOneButton{
    position: absolute;
    float:left;
    left: 430px;
}
#editButton{
    position: absolute;
    float:left;
    left: 380px;
}