.header{
 background-color: #d4d4f7;
 height: 70px;
}
#headerText{
    padding: 20px;
    font-size: 25px;
    font-style: verdana;
}
.middle{
    margin: 20px;
}
#myButton{
    color: red;
}
#result{
    color: green;
}
.footer{
    background-color: #d4d4f7;
    height: 70px;
}
#footerText{
    padding: 20px;
    font-size: 15px;
    font-style: verdana;
}